@tailwind base;
@tailwind components;

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
.animate-spin-logo {
  animation: spin 50s linear infinite;

}

.teamhovar{
  display: none;
}



.img-team:hover .teamhovar{
  display: block;

}

.img-hover:hover{
  transform: scale(1.1);
}


.team{
  /* position: relative; */
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#list:hover #listhide{
  display: block;
  color: white;
  cursor: pointer;
  display: inline-table;

}

#listhide{
  display: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.splide__slide.is-active{
  background-color: rgb(249 115 22) !important;
 
}

.vedio{
  position: relative;
  height: 100%;
  min-height: 500px;
  background:  url(../img/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-vedio:before{
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: rgb(249 115 22);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
  }

  100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
  }
}

.btn-vedio:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: rgb(249 115 22);
  border-radius: 50%;
  transition: all 200ms;
}
.span {
  display: block;
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid rgb(31 41 55) ;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.service-item .icon  {
  color: rgb(249 115 22) !important;

}

.service-item:hover .icon  {
  color: white !important;

}

.service-item:hover  {
  background-color: rgb(249 115 22);
  color: white !important;

}
.newscontainer {
  display:none;
}


#navbarsm li.active{
  border-bottom: 2px solid rgb(249 115 22);
}

#tabs li.active{
  border-bottom: 2px solid rgb(249 115 22);
}

#menu .hidden .active{
  display: flex;
}

@media (max-width: 280px) {

  .sm\:h-\[300px\] {
    height: 250px !important;
  }
}


.splide__pagination__page.is-active{
  background-color: gray;
}
.splide__pagination__page{
  background-color: white;
}
.ui-datepicker-month{
  background-color: rgb(249 115 22) !important;
}
.ui-datepicker-year{
  background-color: rgb(249 115 22) !important;
}

@media (min-width: 280px) {

  .container {
    max-width: 95% !important;
  }
}

@media (min-width: 280px) and (max-width: 280px) {
  
  .sm\:mt-\[30px\] {
    margin-top: 20px !important;
  }
  .sm\:h-\[300px\] {
    height: 188px !important;
  }

  
}

@media screen and (min-device-width: 653px) and (max-device-width: 912px) { 
  .md\:h-\[auto\] {
    height: auto !important;
  }
}




@media (min-width: 600px) and (max-device-width: 760px){

  /* .container {
    max-width: 600px !important;
  } */
  .sm\:ml-\[46\%\] {
    margin-left: 48% !important;
  }
  .sm\:mt-\[89\%\] {
    margin-top: 38% !important;
  }
  .sm_width\:w-\[100\%\] {
    width: 100% !important;
  }
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .sm_footer\:justify-center {
    justify-content: center !important;
  }
  .sm\:h-\[300px\] {
    height: 300px !important;
  }
}

@media (min-width: 540px) and (max-device-width: 600px){

  /* .container {
    max-width: 600px !important;
  } */
  input{
    width: 100% !important;
  }
  .sm\:justify-center {
    justify-content: start !important;
  }
  .sm_center\:justify-center {
    justify-content: center !important;
  }
  .sm_footer\:justify-center {
    justify-content: center !important;
  }
  .sm\:mt-\[89\%\] {
    margin-top: 42% !important;
  }
  .sm\:ml-\[46\%\] {
    margin-left: 48% !important;
  }
}

/* @media (min-width: 1280px) {

  .container {
    max-width: 1280px !important;
  }
} */

/* @media (min-width: 1024px) and (max-device-width: 1180px){
  .container { max-width: 1024px !important; }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
} */


@media (min-width: 1024px) {

 
  .lg\:w-\[46\%\] {
    width: 46% !important;
  }
  .lg\:mt-\[42\%\] {
    margin-top: 44% !important;
  }
  .lg\:h-\[auto\] {
    height: auto !important;
  }
 
  .lg\:w-\[96\%\] {
    width: 96% !important;
  }

  .lg\:w-\[95\%\] {
    width: 95%;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-around {
    justify-content: space-around;
  }

  .lg\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:p-5 {
    padding: 1.25rem;
  }

  .lg\:p-10 {
    padding: 2.5rem;
  }

  .lg\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .lg\:pt-9 {
    padding-top: 2.25rem;
  }

  .lg\:text-start {
    text-align: start !important;
  }
 

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .lg\:margin_left{
    margin-left: 6px !important;
  }
}


@media (min-width: 1280px) {

  .xl\:mt-\[20px\] {
    margin-top: 20px;
  }

  .xl\:mt-\[9rem\] {
    margin-top: 9rem;
  }

  .xl\:ml-\[48\.5\%\] {
    margin-left: 48.5% !important;
  }

  .xl\:mt-\[34\%\] {
    margin-top: 35% !important;
  }

  .xl\:h-\[auto\] {
    height: auto;
  }

  .xl\:w-\[17rem\] {
    width: 17rem;
  }

  .xl\:w-\[12rem\] {
    width: 12rem;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 768px) and (max-device-width: 1023px){
  .md\:w-\[69\%\] {
    width: 100% !important;
  }
  .md\:mt-\[29\%\] {
    margin-top: 29% !important;
  }
  .md\:p-5 {
    padding: 4.25rem !important;
  }
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

 
}

@media (min-width: 720px) and (max-device-width: 720px) {
  .sm\:justify-center {
    justify-content: start !important;
  }
  .sm_footer\:justify-center {
    justify-content: center !important;
  }
  .sm\:mt-\[89\%\] {
    margin-top: 38% !important;
  }
 
}

@media (min-width: 315px) and (max-device-width: 415px) {
 
  
  .sm\:h-\[300px\] {
    height: 280px !important;
  }
}
@media (min-width: 390px) and (max-device-width: 415px) {
 
  .sm\:mt-\[89\%\] {
    margin-top: 80% !important;
  }
  .sm\:h-\[300px\] {
    height: 348px !important;
  }
}
@media (min-width: 360px) and (max-device-width: 360px) {
 

  .sm\:h-\[300px\] {
    height: 238px !important;
  }
}
@media (min-width: 540px) and (max-device-width: 540px) {
 
  
  .sm\:h-\[300px\] {
    height: 416px !important;
  }
}
@media (min-width: 390px) and (max-device-width: 539px) {
 
  .sm\:mt-\[89\%\] {
    margin-top: 89% !important;
  }
  .sm\:h-\[300px\] {
    height: 348px !important;
  }
}



html {
  scroll-behavior:auto;
 }
 



 @tailwind utilities; 
 /* @import 'animate.css'; */